# Intro to Python

## Basic Math Operations 
Note: To run code in an a cell below, use control, return

Also note: Unlike in R, you will need to use print() statements to print output in a Jupyter notebook (only the output from the last line in a given code chunk will print otherwise)

In [8]:
print(5 + 5) #addition
print(5 - 5) #subtraction
print(3 * 5) #multiplication
print(10 / 3) #division giving a decimal
print(10 // 3) #division giving a rounded down integer
print(18 % 7) #modulo
print(4 ** 2) #exponentiation

10
0
15
3.3333333333333335
3
4
16

## Data Types  
Data types are essentially the same as in R. A float is just a decimal. You can assess a variable's type by using the type() function

In [10]:
#floats, ints, strings, and booleans
cost = 3.51
amount = 9
bottomline = 'your total is $'
congrats = ' YAY!'
affordable = True

print(type(cost))
print(type(amount))
print(type(bottomline))
print(type(affordable))

<class 'float'>
<class 'int'>
<class 'str'>
<class 'bool'>

You can also change data types using functions like int() bool() and float():

In [14]:
cost_integer = int(cost)
print(type(cost_integer))

<class 'int'>

Some operations function differently for different types of data. For example, you can add strings in Python, which works much like paste0 in R:

In [15]:
print(bottomline + str(round(cost * amount, 2)) + congrats)

your total is $31.59 YAY!