# Intro to Python

## Basic Math Operations 
Note: To run code in an a cell below, use control, return

Also note: Unlike in R, you will need to use print() statements to print output in a Jupyter notebook (only the output from the last line in a given code chunk will print otherwise)

In [1]:
print(5 + 5) #addition
print(5 - 5) #subtraction
print(3 * 5) #multiplication
print(10 / 3) #division giving a decimal
print(10 // 3) #division giving a rounded down integer
print(18 % 7) #modulo
print(4 ** 2) #exponentiation

10
0
15
3.3333333333333335
3
4
16

## Data Types  
Data types are essentially the same as in R. A float is just a decimal. You can assess a variable's type by using the type( ) function

In [2]:
#floats, ints, strings, and booleans
cost = 3.51
amount = 9
bottomline = 'your total is $'
congrats = ' YAY!'
affordable = True

print(type(cost))
print(type(amount))
print(type(bottomline))
print(type(affordable))

<class 'float'>
<class 'int'>
<class 'str'>
<class 'bool'>

You can also change data types using functions like int( ) bool( ) and float( ):

In [3]:
cost_integer = int(cost)
print(type(cost_integer))

<class 'int'>

Some operations function differently for different types of data. For example, you can add strings in Python, which works much like paste0 in R:

In [15]:
print(bottomline + str(round(cost * amount, 2)) + congrats)

your total is $31.59 YAY!

You can also separate elements by commas in a print statement, which functions like paste in R:

In [4]:
print(bottomline, round(cost*amount, 2), congrats)

your total is $ 31.59  YAY!

## Logical Statements

In [19]:
print(5 == 5) #check if two numbers are equal
print(7 > 5) #check if 7 is greater than 5
print(7 < 5) #check if 7 is less than 5
print(7 != 5) #check if 7 is not equal to 5
print((7 > 5) & (7 < 10)) #check if 7>5 and 7<10
print((3 > 5) | (3 < 10)) #check if 3>5 or 3<10

True
True
False
True
True
True

In [37]:
#Also works for strings!
print("hello" == "hello") #check if two strings are the same
print("hello" > "goodbye") #comparison is based on alphabetical order
print("hello" < "goodbye")
print("hello" != "goodbye") #check if two strings are not equal

True
True
False
True

## Built in Data Structures

One important thing to know about Python (different from R): When you give a variable name to a data structure, that name points to a container with data in it (it does not contain the data directly). 

If you set two variable names equal to each other, then you are telling Python that you want those names to point toward the same container. Thus, changing the contents of the container (via either variable name) will change both variables. For example:

In [110]:
# set a = 5
a = [5,3,2]

# set b = a, which means "b" now points to the same place as "a"
b = a

# change the value of the first element of "a" to 7
a[0] = 7

# note that the first element of "b" is now also changed to 7
print(a)
print(b)

[7, 3, 2]
[7, 3, 2]

You can check if two names point to the same object using "is" or "is not"

In [111]:
print(a is b)

True

In [108]:
#make b into a copy of a, so they are no longer referencing
#the same object, even though they are still equal
b = a.copy()  
print(a)
print(b)
print(a is b)

[7, 3, 2]
[7, 3, 2]
False

### Python Tuples

Tuples are immutable, fixed length sequences of python objects. They can be created by writing objects separated by commas:

In [6]:
tup1 = 1, 3, "hello"
print(tup1)

(1, 3, 'hello')

Tuples can also contain tuples within them. To do this, you can use parentheses. For example:

In [8]:
tup2 = 1, 3, (2,4)
print(tup2)

(1, 3, (2, 4))

Tuples can be created from other sequences, like lists and strings using the tuple( ) function. For example:

In [12]:
print(tuple('hello'))

('h', 'e', 'l', 'l', 'o')

You can access elements of a tuple with square brackets (note: index starts at 0):

In [13]:
print(tup2[0])

1

Once a tuple is created, you can't change the order of objects or replace any of the objects, but you can modify mutable objects within the tuple. For example:

In [17]:
#this tuple contains a list (described in the next section)
#lists are mutable, so we can change the list, but not other elements
tup3 = 1, 2, [3,4,5], 6, 7
#tup3[1] = 3 #this will throw an error
tup3[2][1] = "hi" #this is fine
print(tup3)

(1, 2, [3, 'hi', 5], 6, 7)

You can "unpack" a tuple (i.e., separate it into its' parts as follows:

In [18]:
#reprint tup1
print(tup1)

#save values in tup1 to variables a,b,c
a, b, c = tup1
print(a)
print(b)
print(c)

#save the first value in tup1 to a, the rest to b
a,*b = tup1
print(a)
print(b)

(1, 3, 'hello')
1
3
hello
1
[3, 'hello']

### Python Lists

Python lists are probably the most used data structure in base Python. They look and operate much like vectors in R; however, like R lists, they can contain multiple different data types. Python lists are defined using square brackets and elements separated by commas.

In [24]:
list_example = ['hello', 5.13, 2.5, [1,2,3]]
print(list_example)
print(type(list_example))

['hello', 5.13, 2.5, [1, 2, 3]]
<class 'list'>

For python lists, math operators work a little differently than in R (they are not implemented element-wise):

In [29]:
list1 = [1,2,3]
list2 = [7,8,3]
print(list1 + list2) #adding lists joins them together
print(list1*3) #multiplying lists repeats the elements

[1, 2, 3, 7, 8, 3]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

We can index and slice lists using square brackets as follows:

In [30]:
#index starts at 0 and you can use negative indexing
print(list_example[0]) #1st element
print(list_example[3]) #4th element
print(list_example[-1]) #last element

#slice syntax is [inclusive:exclusive]
print(list_example[1:3]) #prints 2nd and 3rd values 
print(list_example[:3]) #prints up to the 3rd value
print(list_example[2:]) #everything after 2nd value

hello
[1, 2, 3]
[1, 2, 3]
[5.13, 2.5]
['hello', 5.13, 2.5]
[2.5, [1, 2, 3]]

As long as a list only contains one data type, you can sort it using the sorted( ) function:

In [69]:
#create and print a list
list_full = list1 + list2
print(list_full)

#sort the list in descending order
list_sorted = sorted(list_full, reverse = True)

#print out sorted list
print(list_sorted)

[1, 2, 3, 7, 8, 3]
[8, 7, 3, 3, 2, 1]

In [70]:
#create and print a word list
word_list = ["apple", "balloon", "alpha", "clover"]
print(word_list)

#sort the word list in reverse alphabetical order
words_sorted = sorted(word_list, reverse = True)

#print out sorted list
print(words_sorted)

['apple', 'balloon', 'alpha', 'clover']
['clover', 'balloon', 'apple', 'alpha']

Different types of objects in python have "methods" associated with them. Methods are just functions that apply to a specific object type. They are implemented using the following syntax: object_name.method( ).

Note that some methods change objects directly, while functions do not. For example:

In [71]:
#re-print list_full
print(list_full)

#now, I can print a sorted version of list_full using sorted()
print(sorted(list_full))

#but that won't change list_full unless I start with "list_full = "
print(list_full)

#but if I apply the .sort( ) method to list_full, it will sort it directly
list_full.sort( )
print(list_full)

[1, 2, 3, 7, 8, 3]
[1, 2, 3, 3, 7, 8]
[1, 2, 3, 7, 8, 3]
[1, 2, 3, 3, 7, 8]

Some other examples of methods applied to lists

In [72]:
list_full.append(5) #append a 5 to the list
print(list_full)
print(list_full.index(3)) #get first index of a value
print(list_full.count(3)) #count appearances of a value

[1, 2, 3, 3, 7, 8, 5]
2
2

### Indexing Lists  
We can use square brackets to index/slice lists. The main difference compared to R is that the index starts at 0 instead of 1

In [86]:
print(list_full)
#index starts at 0 and you can use negative indexing
print(list_full[0]) #1st element
print(list_full[3]) #4th element
print(list_full[-1]) #last element
print(list_full[-2]) #second to last element

#slicing syntax: [inclusive:exclusive]
print(list_full[1:3]) #prints 2nd and 3rd values 
print(list_full[:3]) #prints up to the 3rd value
print(list_full[2:]) #everything after 2nd value
print(list_full[-2:]) #last two elements

#other tricks
print(list_full[::2]) #prints every other element starting at index 0
print(list_full[::-1]) #reverses the list

[1, 2, 3, 3, 7, 8, 5]
1
3
5
8
[2, 3]
[1, 2, 3]
[3, 3, 7, 8, 5]
[8, 5]
[1, 3, 7, 5]
[5, 8, 7, 3, 3, 2, 1]

### Python Dictionaries  
Dictionaries are another data structure in base python. Using pandas, dictionaries can be turned into data frame objects. Dictionaries allow you to have values/attributes associated with some index.

In [92]:
#Creating a dictionary
nyc_pop = {'The Bronx': 1432132, 'Brooklyn': 2582830, 
           'Manhattan': 1628701, 'Queens': 2278906,
           'Staten Island': 476179}
print(nyc_pop)

{'The Bronx': 1432132, 'Brooklyn': 2582830, 'Manhattan': 1628701, 'Queens': 2278906, 'Staten Island': 476179}

In [94]:
#Dictionary of dictionaries:
nyc = { 'The Bronx': { 'sq_miles':42, 'population':1432132 },
        'Brooklyn': { 'sq_miles':71, 'population':2582830 },
        'Manhattan': { 'sq_miles':23, 'population':1628701 },
        'Queens': { 'sq_miles':109, 'population':2278906 },
        'Staten Island': { 'sq_miles':58, 'population':476179 }}
print(nyc)

{'The Bronx': {'sq_miles': 42, 'population': 1432132}, 'Brooklyn': {'sq_miles': 71, 'population': 2582830}, 'Manhattan': {'sq_miles': 23, 'population': 1628701}, 'Queens': {'sq_miles': 109, 'population': 2278906}, 'Staten Island': {'sq_miles': 58, 'population': 476179}}

### Indexing Dictionaries  
Information in a dictionary can be accessed by referencing index names as follows:

In [100]:
print(nyc_pop['The Bronx'])
print(nyc['The Bronx'])

1432132
{'sq_miles': 42, 'population': 1432132}

In [113]:
print(nyc['The Bronx']['sq_miles'])

42

## For Loops and Conditionals
Below are some examples of for loops with some helpful syntax!

In [115]:
#using range()
for i in range(5):
    print(i)

0
1
2
3
4

In [117]:
#using continue
list_example = [1, 2, "hello", 3, 4]
for value in list_example:
    if value == "hello":
        continue
    print(value)

1
2
3
4

In [119]:
#using break
for value in list_example:
    if value == "hello":
        break
    print(value)

1
2

In [122]:
#nested loops
for i in range(2):
    for j in range(2):
        print((i,j))

(0, 0)
(0, 1)
(1, 0)
(1, 1)

In [142]:
#using enumerate
for i, value in enumerate(list_example):
    print(str(i) + ":" + str(value))

0:1
1:2
2:hello
3:3
4:4

In [150]:
#accessing keys in a dictionary (can also use nyc.keys( ))
for key in nyc:
    print(key)

The Bronx
Brooklyn
Manhattan
Queens
Staten Island

In [153]:
#accessing values in a dictionary
for value in nyc_pop.values():
    print(value)

1432132
2582830
1628701
2278906
476179

In [158]:
#accessing keys and values in a dictionary
for key, value in nyc_pop.items( ):
    print("The population of", key, 'is approximately', value, "people")

The population of The Bronx is approximately 1432132 people
The population of Brooklyn is approximately 2582830 people
The population of Manhattan is approximately 1628701 people
The population of Queens is approximately 2278906 people
The population of Staten Island is approximately 476179 people

In [137]:
#if/elif/else
for i, value in enumerate(list_example):
    if i == 0:
        print(str(i) + ":" + str(value))
    elif i in [1,2]:
        print("index " + str(i) + " is " + str(value))
    elif i == 4:
        print("the value at index " + str(i) + " is " + str(value))
    else:
        print(str(value) + " is my favorite number!")

0:1
index 1 is 2
index 2 is hello
3 is my favorite number!
the value at index 4 is 4

In [21]:
#subsetting within lists
list_new = range(10)
sub = [i for i in list_new if (i % 3 == 0)]
print(sub)

[0, 3, 6, 9]

In [24]:
#kind of list ifelse in R:
sub2 = [(1 if (value > 3 & value < 7) else 0) for value in list_new]
print(sub2)

[0, 0, 0, 0, 1, 1, 1, 1, 1, 1]

## Defining a Function

In [169]:
#create "fibonnaci" function with default value of n = 3
def fibonnaci(n = 3):
    if n == 1 or n == 2:
        fib = 1
    else:
        m2 = 1
        m1 = 1
        for i in range(n-2):
            fib = m2 + m1
            m2 = m1
            m1 = fib
    return fib

#use the function
print(fibonnaci(7))
print(fibonnaci())

13
2

In [171]:
#can also define recursive functions (this does same thing as above)
def fib_recursive(n):
    if n < 3:
        return 1
    else:
        return fib_recursive(n-1) + fib_recursive(n-2)

print(fibonnaci(7))

13

In [172]:
#can return multiple values very easily:
def my_function(x):
    double_x = x*2
    triple_x = x*3
    return double_x, triple_x

a, b = my_function(10)
print(a)
print(b)

20
30